<div class="container">
<h1>挤数字</h1>
<div id="clickcontent">
</div>
<table  style="width:100%;margin-top:10px">
<th>
<td  style="width:50%">
	<button type="button" id="restart" class="btn btn-primary btn-lg btn-block">快速开始</button>
</td>
<td  style="width:25%">
	<button type="button" id="setting_game" class="btn btn-default btn-lg btn-block">重新设置</button>
</td>
<td  style="width:25%">
	<button type="button" id="punish" class="btn btn-default btn-lg btn-block">接受惩罚</button>
</td>

</th>
</table>
</div>
