<div class="container">
<h1>猜卧底</h1>
<div id="guesscontent">
</div>
<div class="clearfix"></div>
<div class="alert alert-danger" id="alter" style="clear:both;" >提示：点击选择要投掉的玩家</div>
<div class="clearfix"></div>
<table  style="width:100%">
<th>
<td  style="width:70%">
	<button type="button" id="restart" class="btn btn-primary btn-lg btn-block">快速开始</button>
</td>
<td  style="width:30%">
	<button type="button" id="setting_game" class="btn btn-default btn-lg btn-block">重新设置</button>
</td>
<!-- <td  style="width:33%">
	<button type="button" id="punish" class="btn btn-primary btn-lg btn-block">接受惩罚</button>
</td> -->

</th>
</table>



</div>

