<div class="container">
<h1>爱上聚会</h1>
<button type="button" id="game_undercover" class="btn btn-primary btn-lg btn-block" >谁是卧底</button>
<button type="button" id="game_killer" class="btn btn-primary btn-lg btn-block" >杀人游戏</button>
<button type="button" id="game_tures" class="btn btn-primary btn-lg btn-block" >真心话大冒险</button>

<button type="button" id="game_numbers" class="btn btn-primary btn-lg btn-block" >挤数字</button>
<button type="button" id="internet_publish" class="btn btn-default btn-lg btn-block">网络真心话大冒险</button>
<button type="button" id="game_rules" class="btn btn-default btn-lg btn-block" >游戏规则</button>
</div>