<div class="row">
  <div class="span4">...</div>
  <div class="span8">...</div>
</div>
<div class="row">
  <div class="span4">...</div>
  <div class="span3 offset2">...</div>
</div>
<p class="muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
<p class="text-error">Donec ullamcorper nulla non metus auctor fringilla.</p>
<p class="text-info">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</p>
<p class="text-success" id="wanbin">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
<p>Welcome to sumeru!</p>