<div class="container">
<h1>杀人游戏进行</h1>


<div class="jumbotron">

<h2 id="killer_wordtext" ></h2>
游戏顺序:<br/>
1.天黑了，大家闭眼<br/>
2.杀手睁眼，指任要杀的人<br/>
3.警察睁眼，开始验人，法官通过手势告诉警察所验之人是不是杀手<br/>
4.天亮了，大家睁眼<br/>
5.公布昨晚被杀人员，被杀人员遗言<br/>
6.依次发言<br/>
7.投出杀手，如果平局再进行辩护<br/>
8.进行步骤【1】<br/>
9.杀手、警察、平民任一为零，游戏结束<br/>
</div>





<table>
<th>
<td  style="width:50%">
	<button type="button" id="restart" class="btn btn-primary btn-lg btn-block">快速开始</button>
</td>
<td  style="width:25%">
	<button type="button" id="setting_game" class="btn btn-default btn-lg btn-block">重新设置</button>
</td>
<td  style="width:25%">
	<button type="button" id="punish" class="btn btn-default btn-lg btn-block">接受惩罚</button>
</td>

</th>
</table>
</div>