<div class="container">
<h1>游戏规则</h1>
<div class="jumbotron">
<h2>谁是卧底-爱上聚会</h2>
游戏规则:<br/>
1、选择参与人数与卧底人数开始游戏<br/>
2、每人需记得自己的词语和编号<br/>
3、依次描述自己的词语<br/>
4、每轮描述结束后，投票选出卧底<br/>
5、剩余玩家继续描述<br/>
</div>
<div class="jumbotron">

<h2>杀人游戏</h2>
游戏规则:<br/>
什么是杀人游戏？别担心，这里没有任何暴力或其它不良成分，只是一种纯粹斗智的游戏。<br/>
每局有一个法官，若干警察和杀手以及平民<br/>
1、抽到法官的玩家引导游戏进行,引导杀手杀人、警察验人、全民投票等行为进行<br/>
2、游戏分类天黑及天亮阶段<br/>
3、天黑的时候，所有玩家闭眼低头，法官引导杀手杀人、警察验人。<br/>
4、天亮的时候，法官公布被杀的人及依次全民投票<br/>
5、被杀掉的玩家及被公投的玩家出局，直到杀手被杀光或警察被杀光，游戏结束"

</div>
<div class="jumbotron"></div>
<div class="jumbotron"></div>
</div>