<div class="container" style="height:100%">

<div><h1 id="title_text">开始游戏</h1><div>

<div style="width:30%"><h2>参与人数:</h2></div>
<div class="btn-group btn-group-lg">
<button type="button" class="btn btn-default" id="costfather" >减少</button>
<button type="button" class="btn btn-default" id="father_count" disabled="disabled">4</button>
<button type="button"  class="btn btn-default" id="addfather">添加</button>
</div>



</div>

<div class="clearfix"></div>




<div style="width:30%" id="select_undercover_text"><h2>卧底人数:</h2></div>
<div class="btn-group btn-group-lg"  id="select_undercover">
<button type="button" class="btn btn-default" id="costson" >减少</button>
<button type="button" class="btn btn-default " id="son_count"  disabled="disabled" >1</button>
<button type="button"  class="btn btn-default" id="addson">添加</button>
</div>



<div class="clearfix"></div>
<div class="alert alert-danger" id="alter" style="margin-top:10px">提示：选择平民人数及卧底人数开始游戏吧</div>
<input id="isshowlastnumber" type="checkbox" >翻牌以后是否显示平民和卧底的人数</input>
<table  style="width:100%">
<th>
<td  style="width:60%">
	<button type="button" id="start_game" class="btn btn-primary btn-lg btn-block" style="margin-top:10px">快速开始</button>
</td>
<td  style="width:20%">
	<button type="button" id="rules_game" class="btn btn-default btn-lg btn-block" style="margin-top:10px">游戏规则</button>
</td>
<td  style="width:20%">
	<button type="button" id="homepage" class="btn btn-default btn-lg btn-block" style="margin-top:10px">返回首页</button>
</td>
</th>
</table>

 
  
</div>

