<div class="container" style="height:100%">

<div><h1 id="title_text">开始游戏</h1><div>


<div  style="margin-top:10px" class="" id="select_people_text"><h2>参与人数</h2></div>

<div class="row col-md-offset-1" >
<button type="button" class="btn btn-default pull-left col-md-2" id="costfather" ><h3>减少</h3></button>

<h2 class="pull-left text-center col-md-2" id="father_count" >4</h2>

<button type="button"  class="btn btn-default pull-left col-md-2" id="addfather"><h3>添加</h3></button>

</div>

</div>

<div class="clearfix"></div>

<div  style="margin-top:10px" id="select_undercover_text"><h2>卧底人数</h2></div>



<div class="row col-md-offset-1" id="select_undercover">

<button type="button" class="btn btn-default pull-left  col-md-2" id="costson" ><h3>减少</h3></button>

<h2 class="pull-left text-center  col-md-2" id="son_count">1</h2>

<button type="button"  class="btn btn-default pull-left  col-md-2" id="addson"><h3>添加</h3></button>
</div>

<div class="clearfix"></div>

<div class="alert alert-danger" id="alter" style="margin-top:10px">提示：选择平民人数及卧底人数开始游戏吧</div>


<table  style="width:100%">
<th>
<td  style="width:60%">
	<button type="button" id="start_game" class="btn btn-primary btn-lg btn-block" style="margin-top:10px">快速开始</button>
</td>
<td  style="width:20%">
	<button type="button" id="rules_game" class="btn btn-default btn-lg btn-block" style="margin-top:10px">游戏规则</button>
</td>
<td  style="width:20%">
	<button type="button" id="homepage" class="btn btn-default btn-lg btn-block" style="margin-top:10px">返回首页</button>
</td>
</th>
</table>

 
  
</div>

